/* Common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}

/* Nav related style */
nav{
    display: flex;
}
nav > ul{
    display: flex;
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-right: 50px ;
}
nav a{
    text-decoration: none;
}
/* .text-primary{ */
    color: FD6E0A;
}
.title{
    color: #181818;
    font-weight: 450px;
    font-weight: 800px;
}